.header-wrap,
.container {
  margin: 0 auto;
}

@media screen and (min-width: 320px) {
  .header-wrap,
  .container {
    width: 320px;
  }
}

@media screen and (min-width: 768px) {
  .header-wrap,
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1120px) {
  .header-wrap,
  .container {
    width: 1120px;
  }
}

ul,
li,
h1,
h2,
h3,
p {
  margin: 0;
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

button {
  outline: none;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}

header {
  overflow: hidden;
  background-color: #FFB8CA;
}

.header-wrap {
  padding-top: 6px;
}

@media screen and (min-width: 768px) {
  .header-wrap {
    padding-top: 38px;
  }
}

.header {
  position: relative;
}

@media screen and (min-width: 1120px) {
  .header {
    height: 627px;
  }
}

.header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header nav .logo {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media screen and (min-width: 1120px) {
  .header nav .menu-mobile {
    display: none;
  }
}

.header nav .buttom-tablet {
  display: none;
}

@media screen and (min-width: 768px) {
  .header nav .menu .menu-mobile {
    margin-right: 30px;
  }
  .header nav .buttom-tablet {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    background-color: #FFFFFF;
    color: #D41443;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 40px;
    border-radius: 22px;
  }
  .header nav .buttom-tablet:hover {
    background-color: #D41443;
    color: #FFFFFF;
  }
  .header nav .buttom-tablet:after {
    content: "";
    background-image: url(../../image/Vector.png);
    background-repeat: no-repeat;
    width: 8px;
    height: 10px;
    margin-left: 12px;
  }
}

.header .ellipse {
  background-color: #FFA5BA;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  margin-top: 27px;
  margin-left: 16px;
  margin-bottom: 75px;
}

@media screen and (min-width: 768px) {
  .header .ellipse {
    margin-top: -45px;
    margin-left: 273px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 1120px) {
  .header .ellipse {
    position: absolute;
    margin: 0;
    padding: 0;
    width: 538px;
    height: 538px;
    bottom: 75px;
    right: 168px;
  }
}

.header .ice {
  position: absolute;
  top: 92px;
  left: 117px;
}

@media screen and (min-width: 768px) {
  .header .ice {
    top: 63px;
    left: 378px;
  }
}

@media screen and (min-width: 1120px) {
  .header .ice {
    top: 108px;
    left: 594px;
  }
}

.header .list {
  position: absolute;
  top: 313px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 768px) {
  .header .list {
    top: 202px;
  }
}

@media screen and (min-width: 1120px) {
  .header .list {
    top: 333px;
    left: 115px;
  }
}

.header .list .item {
  border-radius: 20px;
}

.header .list .item:hover button {
  background-color: #D41443;
  color: #FFFFFF;
}

.header .list .item button {
  outline: none;
  border-radius: 20px;
  padding: 9px 16px;
  border: 1px solid transparent;
  background-color: #FFFFFF;
  font-family: 'DM Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 8px;
  line-height: 10px;
  text-align: center;
  color: #D41443;
}

@media screen and (min-width: 1120px) {
  .header .list .item button {
    padding: 15px 21px;
    font-size: 14px;
    line-height: 18px;
  }
}

.header .list .item:not(:last-child) {
  margin-right: 8px;
}

.header h1 {
  position: absolute;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  top: 193px;
}

@media screen and (min-width: 768px) {
  .header h1 {
    top: 102px;
    font-size: 22px;
    line-height: 25px;
  }
}

.header h1 span {
  font-size: 48px;
  line-height: 96.5%;
  /* or 46px */
  color: #D41443;
}

@media screen and (min-width: 768px) {
  .header h1 span {
    font-size: 34px;
    line-height: 90.5%;
  }
}

@media screen and (min-width: 1120px) {
  .header h1 {
    font-size: 38px;
    line-height: 44px;
    top: 171px;
    left: 115px;
  }
  .header h1 span {
    font-size: 58px;
    line-height: 90.5%;
  }
}

.header .tablet-style {
  display: none;
}

@media screen and (min-width: 768px) {
  .header .tablet-style {
    display: block;
  }
  .header .tablet-style .milk {
    max-width: 100%;
    left: 34px;
    bottom: 28px;
    position: absolute;
  }
}

@media screen and (min-width: 768px) and (min-width: 1120px) {
  .header .tablet-style .milk {
    left: 77px;
    bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .header .tablet-style .description {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 8px;
    line-height: 150%;
    margin: 0;
    padding: 0;
    width: 114px;
    position: absolute;
    left: 154px;
    bottom: 59px;
    color: #FFFFFF;
  }
}

@media screen and (min-width: 768px) and (min-width: 1120px) {
  .header .tablet-style .description {
    left: 295px;
    bottom: 102px;
    font-size: 14px;
    line-height: 140%;
    width: 200px;
  }
}

@media screen and (min-width: 768px) {
  .header .tablet-style .arrow {
    max-width: 100%;
    position: absolute;
    background-color: transparent;
    outline: none;
    border: none;
    margin: 0;
    padding: 0;
    bottom: 34px;
    left: 154px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1120px) {
  .header .tablet-style .arrow {
    left: 295px;
    bottom: 56px;
  }
}

@media screen and (min-width: 768px) {
  .header .tablet-style .girl {
    max-width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .header .tablet-style .count {
    position: absolute;
    top: 94px;
    right: 0px;
  }
  .header .tablet-style .count .item {
    text-align: right;
  }
  .header .tablet-style .count .item .cafe {
    width: 43px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1120px) {
  .header .tablet-style .count .item .cafe {
    width: 72px;
    height: 77px;
  }
}

@media screen and (min-width: 768px) {
  .header .tablet-style .count .item .food {
    width: 51px;
    height: 44px;
  }
}

@media screen and (min-width: 768px) and (min-width: 1120px) {
  .header .tablet-style .count .item .food {
    width: 92px;
    height: 76px;
  }
}

.header .menu-desctop {
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (max-width: 1119px) {
  .header .menu-desctop {
    display: none;
  }
}

.header .menu-desctop .item:not(:last-child) {
  margin-right: 35px;
}

.header .menu-desctop .link {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.header .menu-desctop .link.current {
  color: #D41443;
}

.container {
  padding-top: 121px;
}

.container .product-description {
  color: #FFA5BA;
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .container .product-description {
    font-size: 26px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1120px) {
  .container .product-description {
    font-size: 30px;
    line-height: 34px;
  }
}

.container .product-title {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 34px;
  line-height: 39px;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-bottom: 144px;
}

@media screen and (min-width: 768px) {
  .container .product-title {
    font-size: 48px;
    line-height: 55px;
  }
}

@media screen and (min-width: 1120px) {
  .container .product-title {
    font-size: 58px;
    line-height: 66px;
    margin-bottom: 259px;
  }
}

.container .products {
  padding-left: 20px;
  padding-right: 20px;
}

@media screen and (min-width: 768px) {
  .container .products {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.container .products .item {
  margin-bottom: 129px;
  background-color: #FFB8CA;
  padding: 161px 53px 41px 53px;
  border-radius: 24px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .container .products .item {
    width: calc((100%-6*10px)/3);
    margin: 10px;
    padding: 152px 0 40px 0;
  }
}

@media screen and (min-width: 1120px) {
  .container .products .item {
    width: calc((100%-3*25px)/3);
    margin: 12.5px;
    padding: 163px 44px 50px 44px;
  }
}

.container .products .item:nth-child(2) {
  background-color: #F0D1A5;
}

.container .products .item:nth-child(3) {
  background-color: #C2E297;
}

.container .products .item-name {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 1120px) {
  .container .products .item-name {
    font-size: 30px;
    line-height: 34px;
  }
}

.container .products .item-description {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 14px;
  line-height: 152%;
  /* or 21px */
  text-align: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .container .products .item-description {
    padding-left: 11px;
    padding-right: 11px;
    line-height: 176%;
  }
}

.container .products .menu-cicle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 30px;
}

.container .products .menu-cicle .cicle:not(:last-child) {
  margin-right: 4px;
}

.container .products .product-arrow {
  display: block;
  margin: 0 auto;
}

.container .products .img-ice {
  max-width: 100%;
  position: absolute;
  top: 0;
  left: 16px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

@media screen and (min-width: 768px) {
  .container .products .img-ice {
    left: 0;
  }
}

@media screen and (min-width: 1120px) {
  .container .products .img-ice {
    -webkit-transform: translateY(-62%);
            transform: translateY(-62%);
  }
}

.product-made {
  background-color: #FFF5F6;
  position: relative;
}

.read-more {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #FFFFFF;
  color: #D41443;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 40px;
  border-radius: 22px;
}

.read-more:hover {
  background-color: #D41443;
  color: #FFFFFF;
}

.read-more:after {
  content: "";
  background-image: url(../../image/Vector.png);
  background-repeat: no-repeat;
  width: 8px;
  height: 10px;
  margin-left: 12px;
}

.product-title.made {
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .product-title.made {
    margin-bottom: 50px;
  }
}

.made-description {
  font-family: 'DM Sans';
  font-weight: 500;
  font-size: 12px;
  line-height: 162%;
  color: #000000;
  margin-top: 46px;
}

@media (min-width: 768px) {
  .made-description {
    font-size: 14px;
    line-height: 176%;
  }
}

@media (min-width: 1200px) {
  .made-description {
    font-size: 16px;
  }
}

.made-description.color {
  color: #907E82;
  margin-bottom: 17px;
}

@media (min-width: 768px) {
  .made-description.color {
    margin-bottom: 62px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1119px) {
  .img-milk {
    display: none;
  }
}

.img-milk {
  position: absolute;
  top: 766px;
}

@media screen and (min-width: 1200px) {
  .img-milk {
    top: 342px;
  }
}

.list-made {
  margin-top: 39px;
}

@media (min-width: 768px) {
  .list-made {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.list-made .item {
  margin-top: 38px;
}

@media screen and (min-width: 1120px) {
  .list-made .item:not(:last-child) {
    margin-right: 40px;
  }
}

.list-made .item p {
  font-family: 'DM Sans';
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #000000;
}

.list-made h2 {
  font-family: 'Titan One';
  font-weight: 400;
  font-size: 36px;
  line-height: 41px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #D41443;
  margin-top: 16px;
  margin-bottom: 16px;
}

.how-made {
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .wrap-made {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=main.css.map */